*{
    box-sizing: border-box;
}

.notice {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

.notice-success  {
    background-color: rgb(170, 255, 170);
    border: 1px solid rgb(2, 84, 2);
    color: rgb(2, 84, 2);
}

.notice-error  {
    background-color: rgb(255, 170, 170);
    border: 1px solid rgb(84, 2, 2);
    color: rgb(84, 2, 2);
}

.hidden {
    display: none;
}